/*
========================================================================================
    Container Configuration
========================================================================================
*/

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        singularity.enabled    = false
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

process {

    withName: SAMTOOLS_INDEX {
        container = "${params.docker_registry}/samtools:${params.samtools}"
    }

    withName: SUBREAD_FEATURECOUNTS {
        container = "${params.docker_registry}/subread:${params.subread}"
    }

    withName: RSEQC_TIN {
        container = "${params.docker_registry}/rseqc:${params.rseqctin}"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        container = "${params.docker_registry}/multiqc:${params.multiqc}"
    }

    withName: MULTIQC {
        container = "${params.docker_registry}/multiqc:${params.multiqc}"
    }
}