/*
========================================================================================
    Container Versions
========================================================================================
*/

params {
    // Your Docker Hub username (equivalent to pipelines_ecr)
    docker_registry = 'daleor'

    // Tool versions
    samtools = '1.22.1'
    subread  = '2.0.6'
    rseqctin = '5.0.3'
    multiqc  = '1.32'
}